.hm_select {
	overflow: hidden;
	width: 100%;
	text-align: center;

        position: relative;
        border: 2px solid #aaa;
        border-radius: 2px;
        background: #ffffff;
}
.hm_select select {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;

	padding: 8px 38px 8px 8px;
}
.hm_select select::-ms-expand {
    display: none;
}
.hm_select::before {
	position: absolute;
	top: 0.8em;
	right: 0.9em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666666;
	pointer-events: none;
}
